body{
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.cli-bk {
  background-color: #808080;
  padding: 3px;
}
.branch-name {
  color: greenyellow;
}

.cli-prmpt {
  color: white;
  font-size: 20pt;
  vertical-align: middle;
}

.cli-txt {
  background-color: #808080;
  color: white;
  font-size: 20pt;
  width: 80%;
  border: 0;
}

.command-bk {
  padding: 5px;
}

.command-item {
  margin-right: 5px;
}
